.colorContainer{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.colorContainer .colores{
    width: 55px;
    height: 48px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    background-color: red;
}
.colorContainer .colores:nth-child(2){
    background-color: yellow;
}

.colorContainer .colores:nth-child(3){
    background-color: black;
}
.colorContainer .colores:nth-child(4){
    background-color: red;
}
.colorContainer .colores:nth-child(5){
    background-color: green;
}