.welcomeContainer h3{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-shadow: 1px 2px 1px skyblue;
}
.welcomeContainer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-shadow: 1px 2px 1px skyblue;
}
